@model WaterEvents.Models.TestModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row front-page main">
    <div class="col-sm-10 col-sm-push-1">
        <div class="row">
            <article class="content col-sm-12">
                <h1>
                    Velkommen til Waterevents!
                </h1>
                <p>Waterevents er din vej til en sjov og uforglemmelig oplevelse uanset alder.</p>
                <p>
                    Gå tørfodet på vandet i de <strong>originale walking waterballs!</strong>
                    <br />
                    Book os til din polterabend, fødselsdag, firmaarrangement, tøse/herre-tur, eller måske en date, og få en oplevelse der vil blive husket længe.
                </p>
                <p>Når du booker kommer vi ud til et sted nær dig efter aftale, og afholder arrangementet.</p>
                <p>
                    Læs mere om arrangementerne <a href="/">her.</a>
                </p>
            </article>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="video">
                            <iframe style="margin: 0 auto;" width="560" height="320" src="//www.youtube.com/embed/br37qzu4Zs8" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="facebook">
                            <p>
                                Følg os, og del dine egne oplevelser på facebook eller brug Hashtagget
                                <span>#waterevents</span>
                            </p>
                            <div class="facebook-logo">
                                #waterevents
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="call-to-action" style="background-image:url(http://placehold.it/285x610)">
                    <h2>Bestil dit arrangement i dag!</h2>
                    <a class="btn btn-default full" href="http://google.dk">Book nu!</a>
                </div>
            </div>
        </div>
    </div>
</div>