@model WaterEvents.Models.TextPageModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-page">
    <div class="col-sm-8">
        <article class="content">
            <h1>Velkommen til Waterevents!</h1>
            <p>Waterevents er din vej til en sjov og uforglemmelig oplevelse uanset alder.</p>
            <p>
                Gå tørfodet på vandet i de <strong>originale walking waterballs!</strong>
                <br />
                Book os til din polterabend, fødselsdag, firmaarrangement, tøse/herre-tur,
                eller måske en date, og få en oplevelse der vil blive husket længe.
            </p>
            <br />
            <p>
                Gå på vandet i de originale walking waterballs, og skab en god stemning
            </p>
            <p>
                Læs mere om arrangementerne <a href="http://google.dk">her.</a>
            </p>
        </article>
    </div>
    <div class="col-sm-4">
        <div class="call-to-action" style="background-image:url(http://placehold.it/285x450)">
            <h2>Bestil dit arrangement i dag!</h2>
            <a class="btn btn-default full" href="http://google.dk">Book nu!</a>
        </div>
    </div>
</div>