/*Fonts and colors ONLY*/

$site-background: #ebeef3;

$blue-light: #77c1ff;
$blue-default: #3193d2;

$grayish-blue: #658ca3;

$black: #2c2c2c;
$white: #ffffff;
$yellow: #ffea21;
$red: #f06363;
$red-hover: #d04141;