/*Fonts and colors ONLY*/

/*Blues*/
$blue-light: #77c1ff;
$blue-default: #3193d2;
$grayish-blue: #658ca3;

/*Reds*/
$red: #f06363;
$red-hover: #d04141;

/*Greens*/
$earth-green: #74c984;
$earth-green-hover: #52a762;

/*Singles*/
$site-background: #ebeef3;
$black: #2c2c2c;
$white: #ffffff;
$yellow: #ffea21;
