@import "DesignScheme";

/* Contains global reusable elements as well as bootstrap overrides */

$gutter-size: 20px;
$content-page-top-margin: -230px;
html {
    font-size: 14px;
}
body {
    font-family:Calibri;
}

img {
    //Images must never be bigger than their containing element
    max-width: 100%;
}

.row-no-margin {
    margin: 0;
}

h1, h2, h3 {
    margin:0;
    padding:0;
    color: #3193d2;
    font-weight: bold;
}

h1 {
    font-size: 3.2em;
    margin-top: 1em;
    margin-bottom: 1em;
}
h2 {
    font-size: 1.3em;
    margin-bottom: 0.5em;
}


p {
    font-size: 1.2em;
    margin-bottom: 1.75em;
}

.main {
    background: $white;
    padding-bottom: $gutter-size;
}

.row.main {
    padding-left: 10px;
    padding-right: 10px;
}

.content-page {
    margin-top: $content-page-top-margin;
}

.btn{
    padding: 0 20px;
    display: inline-block;
    border-radius: 0;
    &.full {
        width: 100%;
    }
    &.btn-default {
        height: 90px;
        line-height: 90px;
        background: $red;
        font-size: 1.5em;
        color: $white;
        border: none;
        font-weight: bold;
        padding: 0 80px;
        &:hover {
            background: $red-hover;
        }
    }
    &.btn-map {
        background: $earth-green;
        padding: 5px 50px;
        color: $white;
        &:hover {
            background: $earth-green-hover;
        }
    }
}

.content {
    padding: 15px;
}
.plate {
    padding: 20px;
    cursor: pointer;
    .burger {
        display: inline-block;
        width: 50px;
        padding: 5px 0;
        background: $blue-default;
        span.beef {
            display: block;
            height: 20px;
            background: $blue-default;
            border-top: 7px solid $blue-light;
            border-bottom: 7px solid $blue-light;
        
        }
    }
}