/*Fonts and colors ONLY*/
/*Blues*/
/*Reds*/
/*Greens*/
/*Singles*/
/* Contains global reusable elements as well as bootstrap overrides */
html {
  font-size: 14px; }

body {
  font-family: Calibri; }

img {
  max-width: 100%;
  height: auto !important; }

.row-no-margin {
  margin: 0; }

h1, h2, h3 {
  margin: 0;
  padding: 0;
  color: #3193d2;
  font-weight: bold; }

h1 {
  font-size: 3.2em;
  margin-top: 1em;
  margin-bottom: 1em; }

h2 {
  font-size: 1.3em;
  margin-bottom: 0.5em; }

p {
  font-size: 1.2em;
  margin-bottom: 1.75em; }

.main {
  background: #ffffff;
  padding-bottom: 20px; }

.row.main {
  padding-left: 10px;
  padding-right: 10px; }

.content-page {
  margin-top: -230px; }

.btn {
  padding: 0 20px;
  display: inline-block;
  border-radius: 0; }
  .btn.full {
    width: 100%; }
  .btn.btn-default {
    height: 90px;
    line-height: 90px;
    background: #f06363;
    font-size: 1.5em;
    color: #ffffff;
    border: none;
    font-weight: bold;
    padding: 0 80px; }
    .btn.btn-default:hover {
      background: #d04141; }
  .btn.btn-map {
    background: #74c984;
    padding: 5px 50px;
    color: #ffffff; }
    .btn.btn-map:hover {
      background: #52a762; }

.content {
  padding: 15px; }

.plate {
  padding: 20px;
  cursor: pointer; }
  .plate .burger {
    display: inline-block;
    width: 50px;
    padding: 5px 0;
    background: #3193d2; }
    .plate .burger span.beef {
      display: block;
      height: 20px;
      background: #3193d2;
      border-top: 7px solid #77c1ff;
      border-bottom: 7px solid #77c1ff; }

/*Fonts and colors ONLY*/
/*Blues*/
/*Reds*/
/*Greens*/
/*Singles*/
/*Layout*/
body {
  background: #d0dde8;
  color: #676767; }

.mobile-top-bar {
  width: 100%;
  top: 0;
  padding-top: 10px;
  padding-left: 10px;
  background: #d0dde8;
  height: 50px;
  z-index: 50000; }
  .mobile-top-bar .logo {
    margin-top: 10px;
    background: url(/Content//Images/logo.png) no-repeat;
    display: inline-block;
    background-size: 100%;
    width: 250px;
    height: 70px; }

.sidebar-offcanvas ul {
  width: 100%;
  padding: 0;
  margin: 0; }
  .sidebar-offcanvas ul li {
    display: block;
    border-bottom: 2px solid #77c1ff;
    font-size: 1.25em; }
    .sidebar-offcanvas ul li a {
      display: block;
      line-height: 40px;
      height: 40px;
      padding-left: 10px; }
      .sidebar-offcanvas ul li a:hover {
        border-left: 5px solid #ffea21;
        padding-left: 5px; }
    .sidebar-offcanvas ul li.active a {
      border-left: 5px solid #ffea21;
      padding-left: 5px; }

.main-menu-bar {
  position: relative;
  height: 100px;
  margin-top: 70px;
  z-index: 100; }
  .main-menu-bar .main-menu-wrapper {
    position: relative; }
    .main-menu-bar .main-menu-wrapper a.logo {
      background: url(/Content//Images/logo.png);
      height: 82px;
      width: 332px;
      position: absolute;
      top: -60px;
      left: -47px; }
    .main-menu-bar .main-menu-wrapper ul.main-menu {
      height: 70px;
      background-color: #3193d2;
      list-style: none;
      margin: 0;
      padding: 0; }
      .main-menu-bar .main-menu-wrapper ul.main-menu li {
        width: 150px;
        line-height: 70px;
        float: left;
        text-align: center;
        border-right: 1px solid #4da7e3; }
        .main-menu-bar .main-menu-wrapper ul.main-menu li:last-child {
          border-right: none; }
        .main-menu-bar .main-menu-wrapper ul.main-menu li a {
          display: block;
          height: 70px;
          color: #ffffff;
          font-size: 1.3em;
          font-weight: bold; }
          .main-menu-bar .main-menu-wrapper ul.main-menu li a:hover {
            text-decoration: none;
            border-bottom: 10px solid #ffea21; }
        .main-menu-bar .main-menu-wrapper ul.main-menu li.active a {
          border-bottom: 10px solid #ffea21; }

/* The content is located inside the site offset - This is necessary because the background is not just a background on the frontpage, but a slideshow :-( */
.site-offset {
  position: relative;
  top: -170px; }
  @media screen and (max-width: 991px) {
    .site-offset {
      top: 0; } }
  .site-offset footer {
    background: #77c1ff;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #ffffff; }

/*Front page*/
.front-page {
  margin-top: 20px; }
  @media screen and (max-width: 767px) {
    .front-page {
      margin-top: -230px; } }
  .front-page .video {
    background: #658ca3; }
    .front-page .video iframe {
      display: block;
      margin: 0 auto;
      padding: 10px; }
  .front-page .facebook:hover {
    text-decoration: none; }
  .front-page .facebook > div {
    margin-top: 20px;
    background: #658ca3;
    padding: 35px; }
    .front-page .facebook > div p {
      font-size: 1.5em;
      color: #ffffff; }
      .front-page .facebook > div p span {
        font-size: 1.5em; }
    .front-page .facebook > div .facebook-logo {
      background: url(/Content/Images/facebook-logo.png) no-repeat;
      padding-left: 150px;
      height: 104px;
      font-size: 3.5em;
      color: #83afc8; }
  .front-page .call-to-action {
    padding: 15px; }
    .front-page .call-to-action h2 {
      font-size: 1.45em;
      color: #ffea21;
      margin-bottom: 470px; }

/*The carousel is outside the front-page wrapper, but is still considered part of the front page*/
#carousel {
  height: 430px; }
  #carousel .carousel-inner .item {
    height: 470px; }

/*Event page*/
.event-page .event {
  margin-bottom: 100px; }

/*Locations page*/
.locations-page .locations-wrapper {
  margin-top: 50px; }
  .locations-page .locations-wrapper .region {
    margin-bottom: 50px; }
    .locations-page .locations-wrapper .region .location {
      margin-bottom: 20px; }

/*Contact page*/
.contact-page form label {
  display: block; }
.contact-page form input[type="text"], .contact-page form textarea {
  width: 350px;
  margin-bottom: 15px; }
.contact-page form textarea {
  height: 200px; }
.contact-page form #thanks {
  margin: 50px 0;
  display: none; }
.contact-page form .field-validation-error {
  display: block;
  color: red; }

/*# sourceMappingURL=Site.css.map */