@import "GlobalElements";
@import "DesignScheme";



/*Layout*/
body {
    background: $site-background;
}
.main-menu-bar {
    position: relative;
    height: 100px;
    margin-top: 70px;
    z-index: 100;
    .main-menu-wrapper {
        position: relative;
        a.logo {
            background: url(/Content//Images/logo.png);
            height: 82px;
            width: 332px;
            position: absolute;
            top:-60px;
            left: -47px;
        }

        ul.main-menu {
            height: 70px;
            background-color: $blue-default;
            list-style: none;
            margin:0;
            padding:0;
            li {
                width: 150px;
                line-height: 70px;
                float: left;
                text-align: center;
                &:last-child a {
                        border-right: none;
                    }
                a {
                    display: block;
                    height: 70px;
                    color: $white;
                    border-right: 1px solid $blue-light;
                
                    &:hover {
                        text-decoration: none;
                        border-bottom: 10px solid $yellow;
                    }
                }
            }
        }
    }
}

/* The content is located inside the site offset - This is necessary because the background is not just a background on the frontpage, but a slideshow :-( */
.site-offset {
    position: relative;
    //Site offset is the .main-menu-wrapper height + margin-top
    top: -170px;
    footer {
        background: $blue-light;
        height: 80px;
        line-height: 80px;
        text-align: center;
        color: $white;
    }
}

/*Front page*/
.front-page {
    margin-top: $gutter-size;
    .content {
    }

    .video {
        background: $grayish-blue;
        iframe {
            display: block;
            margin: 0 auto;
            padding: 10px 0;
        }

    }
    .facebook {
        margin-top: $gutter-size;
        background: $grayish-blue;
        padding: 35px;
        p {
            font-size: 1.3em;
            color: $white;
            span {
                font-size: 1.5em;
            }
        }
        .facebook-logo {
            background: url(/Content/Images/facebook-logo.png) no-repeat;
            padding-left: 150px;
            height: 104px;
            font-size: 3.5em;
            color: $white;

        }
    }

    .call-to-action {
        padding: 15px;
        h2 {
            color: $yellow;
            margin-bottom: 470px;
        }
    }
}

/*The carousel is outside the front-page wrapper, but is still considered part of the front page*/
#carousel {
    height: 470px;
    .carousel-inner {
        .item {
            height: 470px;
        }
    }
}

/*Event page*/
.event-page {
    .event {
        margin-bottom: 100px;
    }
}

/*Locations page*/
.locations-page {
    .locations-wrapper {
        margin-top: 50px;
        .region {
            margin-bottom: 50px;
            .location {
                margin-bottom: 20px;
            }
        }
    }

}