<!DOCTYPE root[<!ELEMENT Location ANY>
<!ATTLIST Location id ID #REQUIRED>
<!ELEMENT LocationsRegion ANY>
<!ATTLIST LocationsRegion id ID #REQUIRED>
<!ELEMENT Locations ANY>
<!ATTLIST Locations id ID #REQUIRED>
 
<!ELEMENT Events ANY>
<!ATTLIST Events id ID #REQUIRED>
<!ELEMENT FrontPage ANY>
<!ATTLIST FrontPage id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT Textpage ANY>
<!ATTLIST Textpage id ID #REQUIRED>

]>
<root id="-1">
  <FrontPage id="1050" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-01-24T11:59:25" updateDate="2015-01-25T19:18:16" nodeName="Forside" urlName="forside" path="-1,1050" isDoc="" nodeType="1047" creatorName="Mads Tjørnfelt" writerName="Mads Tjørnfelt" writerID="0" template="1049" nodeTypeAlias="FrontPage">
    <Events id="1054" parentID="1050" level="2" creatorID="0" sortOrder="0" createDate="2015-01-25T15:49:55" updateDate="2015-01-25T15:58:06" nodeName="Arrangementer" urlName="arrangementer" path="-1,1050,1054" isDoc="" nodeType="1053" creatorName="Mads Tjørnfelt" writerName="Mads Tjørnfelt" writerID="0" template="1057" nodeTypeAlias="Events">
      <Textpage id="1058" parentID="1054" level="3" creatorID="0" sortOrder="0" createDate="2015-01-25T17:42:30" updateDate="2015-01-25T17:57:14" nodeName="Betingelser" urlName="betingelser" path="-1,1050,1054,1058" isDoc="" nodeType="1051" creatorName="Mads Tjørnfelt" writerName="Mads Tjørnfelt" writerID="0" template="1052" nodeTypeAlias="Textpage">
        <header><![CDATA[Betingelser header]]></header>
        <bodyText><![CDATA[<p>Betingelser body text</p>]]></bodyText>
      </Textpage>
      <Textpage id="1060" parentID="1054" level="3" creatorID="0" sortOrder="1" createDate="2015-01-25T17:59:23" updateDate="2015-01-25T17:59:23" nodeName="Spørgsmål og svar" urlName="spoergsmaal-og-svar" path="-1,1050,1054,1060" isDoc="" nodeType="1051" creatorName="Mads Tjørnfelt" writerName="Mads Tjørnfelt" writerID="0" template="1052" nodeTypeAlias="Textpage">
        <header><![CDATA[Spørgsmål og svar]]></header>
        <bodyText><![CDATA[<p>Q: How many cups of sugar does it take to get to the moon?</p>
<p>A: Three and a half</p>
<p> </p>
<p>Q: Hvad er 2 + 2</p>
<p>A: 4</p>
<p> </p>
<p>Q: Finder Michael selv på flere?</p>
<p>A: Ja</p>]]></bodyText>
      </Textpage>
    </Events>
    <Locations id="1064" parentID="1050" level="2" creatorID="0" sortOrder="1" createDate="2015-01-25T18:08:02" updateDate="2015-01-25T18:22:11" nodeName="Lokationer" urlName="lokationer" path="-1,1050,1064" isDoc="" nodeType="1061" creatorName="Mads Tjørnfelt" writerName="Mads Tjørnfelt" writerID="0" template="1071" nodeTypeAlias="Locations">
      <LocationsRegion id="1065" parentID="1064" level="3" creatorID="0" sortOrder="0" createDate="2015-01-25T18:08:34" updateDate="2015-01-25T18:08:34" nodeName="Sjælland" urlName="sjaelland" path="-1,1050,1064,1065" isDoc="" nodeType="1062" creatorName="Mads Tjørnfelt" writerName="Mads Tjørnfelt" writerID="0" template="0" nodeTypeAlias="LocationsRegion">
        <Location id="1068" parentID="1065" level="4" creatorID="0" sortOrder="0" createDate="2015-01-25T18:09:24" updateDate="2015-01-25T18:12:44" nodeName="Søernes sejlklub" urlName="soeernes-sejlklub" path="-1,1050,1064,1065,1068" isDoc="" nodeType="1063" creatorName="Mads Tjørnfelt" writerName="Mads Tjørnfelt" writerID="0" template="0" nodeTypeAlias="Location">
          <address><![CDATA[Søernes Sejlklub (ved Søpavillonen) Gyldenløvesgade 24, 1369 København]]></address>
          <googleMapsLink><![CDATA[http://google.dk]]></googleMapsLink>
        </Location>
      </LocationsRegion>
      <LocationsRegion id="1066" parentID="1064" level="3" creatorID="0" sortOrder="1" createDate="2015-01-25T18:08:43" updateDate="2015-01-25T18:08:43" nodeName="Fyn" urlName="fyn" path="-1,1050,1064,1066" isDoc="" nodeType="1062" creatorName="Mads Tjørnfelt" writerName="Mads Tjørnfelt" writerID="0" template="0" nodeTypeAlias="LocationsRegion">
        <Location id="1069" parentID="1066" level="4" creatorID="0" sortOrder="0" createDate="2015-01-25T18:14:24" updateDate="2015-01-25T18:14:24" nodeName="Østersøgade 8" urlName="østersoegade-8" path="-1,1050,1064,1066,1069" isDoc="" nodeType="1063" creatorName="Mads Tjørnfelt" writerName="Mads Tjørnfelt" writerID="0" template="0" nodeTypeAlias="Location">
          <address><![CDATA[Østersøgade 8, 5000 Odense C]]></address>
          <googleMapsLink><![CDATA[http://eb.dk]]></googleMapsLink>
        </Location>
        <Location id="1070" parentID="1066" level="4" creatorID="0" sortOrder="1" createDate="2015-01-25T18:15:10" updateDate="2015-01-25T18:15:10" nodeName="Middelfart roklub" urlName="middelfart-roklub" path="-1,1050,1064,1066,1070" isDoc="" nodeType="1063" creatorName="Mads Tjørnfelt" writerName="Mads Tjørnfelt" writerID="0" template="0" nodeTypeAlias="Location">
          <address><![CDATA[Middelfart roklub, Svineryggen 1, 7100 Vejle]]></address>
          <googleMapsLink><![CDATA[http://dr.dk]]></googleMapsLink>
        </Location>
      </LocationsRegion>
      <LocationsRegion id="1067" parentID="1064" level="3" creatorID="0" sortOrder="2" createDate="2015-01-25T18:08:56" updateDate="2015-01-25T18:08:56" nodeName="Jylland" urlName="jylland" path="-1,1050,1064,1067" isDoc="" nodeType="1062" creatorName="Mads Tjørnfelt" writerName="Mads Tjørnfelt" writerID="0" template="0" nodeTypeAlias="LocationsRegion" />
      <header><![CDATA[Lokationer]]></header>
      <bodyText><![CDATA[<p>Lokationer brødtekst</p>]]></bodyText>
      <postBodyText><![CDATA[<p>Lokationer brødtekst (efter liste)</p>]]></postBodyText>
    </Locations>
    <Textpage id="1072" parentID="1050" level="2" creatorID="0" sortOrder="2" createDate="2015-01-25T18:38:11" updateDate="2015-01-25T18:38:31" nodeName="Priser" urlName="priser" path="-1,1050,1072" isDoc="" nodeType="1051" creatorName="Mads Tjørnfelt" writerName="Mads Tjørnfelt" writerID="0" template="1052" nodeTypeAlias="Textpage">
      <header><![CDATA[Priser]]></header>
      <bodyText><![CDATA[<p>Priser brødtekst</p>]]></bodyText>
    </Textpage>
    <Textpage id="1059" parentID="1050" level="2" creatorID="0" sortOrder="3" createDate="2015-01-25T17:50:59" updateDate="2015-01-25T18:38:31" nodeName="Om os" urlName="om-os" path="-1,1050,1059" isDoc="" nodeType="1051" creatorName="Mads Tjørnfelt" writerName="Mads Tjørnfelt" writerID="0" template="1052" nodeTypeAlias="Textpage">
      <header><![CDATA[Om os]]></header>
      <bodyText><![CDATA[<p>Waterevents er ejet og drevet af Henrik og Michael. Vi har i mange år interesseret os for sejlads og vandaktiviteter generelt, og kan derfor ikke bare bibringe erfaring, men også den ekstra gejst vi mener der skal til for at gøre jeres arrangement perfekt.</p>
<p>Idéen til Waterevents opstod da vi under en rejse opdagede disse walking waterballs, og mente at danskerne ikke skulle snydes for en sådan oplevelse. Vi ser frem til at dele den oplevelse med jer.</p>
<p>*Insert image here*</p>]]></bodyText>
    </Textpage>
    <slideshowFolder>1074</slideshowFolder>
    <header><![CDATA[Velkommen til Waterevents!]]></header>
    <bodyText><![CDATA[<p>Waterevents er din vej til en sjov og uforglemmelig oplevelse uanset alder.</p>
<p>Gå tørfodet på vandet i de <strong>originale walking waterballs!</strong> <br />Book os til din polterabend, fødselsdag, firmaarrangement, tøse/herre-tur, eller måske en date, og få en oplevelse der vil blive husket længe.</p>
<p>Når du booker kommer vi ud til et sted nær dig efter aftale, og afholder arrangementet.</p>
<p>Læs mere om arrangementerne <a href="/">her.</a></p>]]></bodyText>
  </FrontPage>
</root>