<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT FrontPage ANY>
<!ATTLIST FrontPage id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>

]>
<root id="-1">
  <FrontPage id="1050" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-01-24T11:59:25" updateDate="2015-01-24T11:59:25" nodeName="Forside" urlName="forside" path="-1,1050" isDoc="" nodeType="1047" creatorName="Mads Tjørnfelt" writerName="Mads Tjørnfelt" writerID="0" template="1049" nodeTypeAlias="FrontPage" />
</root>